@model IEnumerable<Login.Models.Band>

@{
    ViewBag.Title = "Bands";
}

<h2>Bands</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fotoUri)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fotoUri)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
