@model List<Login.Models.DagBestelling>

@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<table>
    <tr>
        <th>
            Soort
        </th>
        @if(WebSecurity.IsAuthenticated){
        <th>
            Aantal
        </th>
        }
        <th>
            Ticketprijs
        </th>
        <th></th>
    </tr>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken() @*No XSS not true, :D*@
    @Html.ValidationSummary()

    int i = 0;
    foreach (var item in ViewBag.Tickets) 
    {
        <tr>
            <td>
                @item.soort
            </td>
            @if(WebSecurity.IsAuthenticated){
                <td>
                    @Html.DropDownListFor(m => m[i].aantal,  new SelectList(
                        new List<int>{
                            1,2,3,4,5
                        })
                    )
                
                </td>
            }
            <td>
                @item.prijs
            </td>
        </tr>
        i++;
    }
    
    @Html.Raw(true ? "</table> <input type=\"submit\" value=\"Register\" />" : "");

   
}

